<div class="container">
    <button type="button" class="btn btn-light" routerLink="/startPage">Volver</button>
    <div class="py-5 text-center">
        <h1>Iniciar sesión</h1>
    </div>
    <form method ="post" action="" id="entitySignin" class="mt-5 mb-5">
        <div class="form-group">
            <label for="emailEntity">Cuenta de correo electrónico</label>
            <input type="email" class="form-control" id="emailEntity" aria-describedby="emailHelp" placeholder="nombre-de-cuenta@dominio.com">
        </div>
        <div class="form-group">
            <label for="passwordEntity">Contraseña</label>
            <input type="password" class="form-control" id="passwordEntity" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" routerLink="/entityEvent">Iniciar sesión</button>
    </form>
    <hr>
    <div class="row text-center mb-5">
        <p class="mb-5">¿No estás registrado? <a href="/entitySignUp">Crea ahora tu cuenta</a>.</p>
    </div>
</div>