<div class="container">
    <button type="button" class="btn btn-link" routerLink="/startPage">Volver</button>

    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                    <img class="rounded mx-auto d-block float-left" width="72" height="72" src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="evento">
                </th>
                <td colspan="3">
                  <h3>Título del evento <i class="small material-icons">lock_outline</i></h3>
                  <p>30/07/2018 - 31/07/2018</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacus est, viverra at nulla et, aliquam tincidunt dui. Nulla quis odio a velit rhoncus tincidunt ut sit amet magna.</p>
                </td>
              </tr>
              <tr>
                <th scope="row">
                    <img class="rounded mx-auto d-block float-left" width="72" height="72" src="https://api.adorable.io/avatars/287/albert@adorable.io" alt="evento">
                </th>
                <td colspan="2">
                  <h3>Título del evento <i class="small material-icons">lock_open</i></h3>
                  <p>30/07/2018 - 31/07/2018</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacus est, viverra at nulla et, aliquam tincidunt dui. Nulla quis odio a velit rhoncus tincidunt ut sit amet magna.</p>
                </td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm" routerLink="/entityEditEvent"><i class="small material-icons">mode_edit</i></button>
                  <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#deleteEvent"><i class="small material-icons">delete_forever</i></button>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- Modal -->
          <div class="modal fade" id="deleteEvent" tabindex="-1" role="dialog" aria-labelledby="borrarEvento" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="borrarEvento">Borrar evento</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ¿Estás seguro/a que quieres borrar este evento?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-danger">Borrar evento</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
