<div class="container">
    <button type="button" class="btn btn-link" routerLink="/startPage">Volver</button>

    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                    <img class="rounded mx-auto d-block float-left" width="72" height="72" src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="evento">
                </th>
                <td colspan="2">
                  <h3>Título del evento</h3>
                  <p>Fecha del evento</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacus est, viverra at nulla et, aliquam tincidunt dui. Nulla quis odio a velit rhoncus tincidunt ut sit amet magna. Vestibulum rhoncus venenatis mi in mattis. Suspendisse cursus feugiat dolor, a ultricies mauris aliquam quis. Nam pulvinar dolor non augue finibus vehicula. Duis in arcu in massa bibendum ultrices. Suspendisse et nisi hendrerit, dapibus urna non, tristique justo. Nullam vel arcu vitae ante tempor porttitor et eget lacus. Morbi id tincidunt dolor, eu lacinia magna. In venenatis suscipit nisi, in egestas orci interdum et. Mauris id nibh nec tortor lobortis congue id at nibh.

                    </p>
                </td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm" routerLink="/entityEditEvent">Editar</button>
                  <button type="button" class="btn btn-secondary btn-sm">Borrar</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    
</div>
