<footer class="footer text-muted">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3">
          <a href="#"><i class="fa fa-facebook lg"></i></a>
          <a href="#"><i class="fa fa-twitter lg"></i></a>
          <a href="#"><i class="fa fa-linkedin lg"></i></a>
      </div>
      <div class="col-12 col-sm-12 col-md-6 text-center">
          m4Social &copy;2018 Todos los derechos reservados.
      </div>
      <div class="col-12 col-sm-12 col-md-3 text-right">
        <a href="#">
          <img src="../assets/logo.png" alt="logo m4social" title="m4social" class="logo-footer">
        </a>
      </div>
    </div>
  </div>
</footer>