<footer class="footer">
  <div class="container py-3">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <a href="#"><i class="fa fa-facebook lg"></i></a>
          <a href="#"><i class="fa fa-twitter lg"></i></a>
          <a href="#"><i class="fa fa-linkedin lg"></i></a>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-4">m4Social &copy;2018 Todos los derechos reservados.</div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-4 text-right">
          <a href="#">
            <img src="../assets/logo.png" alt="logo m4social" title="m4social" class="logo-footer">
          </a>
        </div>
    </div>
  </div>
</footer>
