<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <a href="#"><i class="fa fa-facebook lg"></i></a>
          <a href="#"><i class="fa fa-twitter lg"></i></a>
          <a href="#"><i class="fa fa-linkedin lg"></i></a>
      </div>
      <div class="col-md-9 clearfix">
          m4Social &copy;2018 Todos los derechos reservados.
        <a href="#">
          <img src="../assets/logo.png" alt="logo m4social" title="m4social" class="logo-footer float-right">
        </a>
      </div>
    </div>
  </div>
</footer>