<div class="container">
    <button type="button" class="btn btn-light" routerLink="/userForm">Volver</button>
    <div class="py-5 text-center">
        <h1>Dáte de alta como participante</h1>
    </div>
    <form method ="post" action="" id="userSignin" class="mt-5 mb-5">
      <div class="form-row">
        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
            <label for="idNumberUser">Número de identificación del usuario</label>
            <input type="text" class="form-control" id="idNumberUser" placeholder="123456789-D">
        </div>
        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
            <label for="nameUser">Nombre del participante</label>
            <input type="text" class="form-control" id="nameUser" placeholder="Manuel Doe">
        </div>
      </div>
      <div class="form-group">
        <label for="nameEntityUser">Nombre de la identidad</label>
        <input type="text" class="form-control" id="nameEntityUser" placeholder="AA.VV. El Coll-Vallcarca">
    </div>
      <div class="form-group">
          <label for="emailUser">Cuenta de correo electrónico</label>
          <input type="email" class="form-control" id="emailUser" placeholder="nombre-de-cuenta@dominio.com">
      </div>
      <div class="form-group">
          <label for="passwordUser">Contraseña</label>
          <input type="password" class="form-control" id="passwordUser" aria-describedby="passHelp" placeholder="Contraseña">
          <small id="passHelp" class="form-text text-muted">Debe ser de 8 a 20 caracteres, contener almenos una letra mayúscula y un símbolo: Contraseña1234!.</small>
      </div>
      <div class="form-group">
        <label for="imageUser" class="col-form-label">Imagen del evento</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="imageUser" lang="es">
          <label class="custom-file-label" for="imageUser">Seleccionar imagen</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" routerLink="/entityEvent">Dar entidad de alta</button>
    </form>
</div>