<div class="container mb-5 shadow-sm bg-white pb-5">
    <button type="button" class="btn btn-light shadow" routerLink="/startPage">Volver</button>
    <div class="py-5 text-center">
        <h1>Iniciar sesión</h1>
    </div>
    <form method ="post" action="" id="userSignin" class="mt-5 mb-5">
        <div class="form-group">
            <label for="emailUser">Cuenta de correo electrónico</label>
            <input type="email" class="form-control" id="emailUser" aria-describedby="emailHelp" placeholder="nombre-de-cuenta@dominio.com">
        </div>
        <div class="form-group">
            <label for="passwordUser">Contraseña</label>
            <input type="password" class="form-control" id="passwordUser" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" routerLink="/userEvent">Iniciar sesión</button>
    </form>
</div>