<div class="container">
    <button type="button" class="btn btn-light" routerLink="/entityForm">Volver</button>
    <div class="py-5 text-center">
        <h1>Registra tu entidad</h1>
    </div>
    <form method ="post" action="" id="entitySignin" class="mt-5 mb-5">
      <div class="form-row">
        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
            <label for="idNumberEntity">Número de identificación de la entidad</label>
            <input type="text" class="form-control" id="idNumberEntity" placeholder="123456789-D">
        </div>
        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
            <label for="nameEntity">Nombre de la identidad</label>
            <input type="text" class="form-control" id="nameEntity" placeholder="AA.VV. El Coll-Vallcarca">
        </div>
      </div>
      <div class="form-group">
          <label for="responsibleEntityName">Nombre del responsable de la entidad</label>
          <input type="text" class="form-control" id="responsibleEntityName" placeholder="Juan Doe">
      </div>
      <div class="form-group">
          <label for="emailEntity">Cuenta de correo electrónico</label>
          <input type="email" class="form-control" id="emailEntity" placeholder="nombre-de-cuenta@dominio.com">
      </div>
      <div class="form-group">
          <label for="passwordEntity">Contraseña</label>
          <input type="password" class="form-control" id="passwordEntity" aria-describedby="passHelp" placeholder="Password">
          <small id="passHelp" class="form-text text-muted">Debe ser de 8 a 20 caracteres, contener almenos una letra mayúscula y un símbolo: Contraseña1234!.</small>
      </div>
      <div class="form-group">
        <label for="imageEvent" class="col-form-label">Imagen del evento</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="imageEvent" lang="es">
          <label class="custom-file-label" for="imageEvent">Seleccionar imagen</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" routerLink="/entityEvent">Dar entidad de alta</button>
    </form>
</div>